{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "GROK_API_KEY": "",
    "GROK_API_ENDPOINT": "https://api.x.ai/v1",
    "GROK_MODEL_NAME": "grok-4-1-fast-reasoning",
    "DIRECT_LINE_SECRET": "",
    "POWER_AUTOMATE_URL": "",
    "POWER_AUTOMATE_API_KEY": "",
    "USE_ML_CLASSIFIER": "true",
    "MODELS_DIR_PATH": ""
  },
  "Host": {
    "CORS": "*"
  }
}
